
@{
    ViewData["Title"] = "Create a test run";
}

<h1>Create a testdataRun </h1>
<p>@ViewBag.errorMessage</p>
<a class="nav-link text-dark" asp-area="" asp-controller="TestdataRun" asp-action="Index">Tests runs</a>

