USE [Test1]
GO
ALTER TABLE [dbo].[GATreeThinClient] DROP CONSTRAINT [FK_GATreeThinClient_GATreeTestDataRun_testdatarunTest_data_run_id]
GO
ALTER TABLE [dbo].[GATreeTestsData] DROP CONSTRAINT [FK_GATreeTestsData_GATreeData_Data_id]
GO
ALTER TABLE [dbo].[GATreeTestDataRunLog] DROP CONSTRAINT [FK_GATreeTestDataRunLog_GATreeTestDataRun_Test_data_run_id]
GO
ALTER TABLE [dbo].[GATreeTestDataRun] DROP CONSTRAINT [FK_GATreeTestDataRun_GATreeTestsData_TestData_id1]
GO
ALTER TABLE [dbo].[GATreeDataAttributes] DROP CONSTRAINT [FK_GATreeDataAttributes_GATreeData_data_DataAttributes_data_ID]
GO
ALTER TABLE [dbo].[GATRecordOfTrees] DROP CONSTRAINT [FK_GATRecordOfTrees_GATreeTestDataRun_Test_data_run_id]
GO
ALTER TABLE [dbo].[GATreeThinClient] DROP CONSTRAINT [DF__GATreeThi__thinC__4CA06362]
GO
ALTER TABLE [dbo].[GATreeThinClient] DROP CONSTRAINT [DF__GATreeThi__ThinC__4BAC3F29]
GO
ALTER TABLE [dbo].[GATreeTestsData] DROP CONSTRAINT [DF__GATreeTes__TestD__37A5467C]
GO
ALTER TABLE [dbo].[GATreeTestsData] DROP CONSTRAINT [DF__GATreeTes__TestD__36B12243]
GO
ALTER TABLE [dbo].[GATreeTestsData] DROP CONSTRAINT [DF__GATreeTes__TestD__35BCFE0A]
GO
ALTER TABLE [dbo].[GATreeTestsData] DROP CONSTRAINT [DF__GATreeTes__TestD__34C8D9D1]
GO
ALTER TABLE [dbo].[GATreeTestsData] DROP CONSTRAINT [DF__GATreeTes__TestD__33D4B598]
GO
ALTER TABLE [dbo].[GATreeTestsData] DROP CONSTRAINT [DF__GATreeTes__TestD__32E0915F]
GO
ALTER TABLE [dbo].[GATreeTestsData] DROP CONSTRAINT [DF__GATreeTes__TestD__3B75D760]
GO
ALTER TABLE [dbo].[GATreeTestsData] DROP CONSTRAINT [DF__GATreeTes__TestD__30F848ED]
GO
ALTER TABLE [dbo].[GATreeTestDataRunLog] DROP CONSTRAINT [DF__GATreeTes__Test___5165187F]
GO
ALTER TABLE [dbo].[GATreeTestDataRun] DROP CONSTRAINT [DF__GATreeTes__MaxIt__5441852A]
GO
ALTER TABLE [dbo].[GATreeTestDataRun] DROP CONSTRAINT [DF__GATreeTes__Itera__534D60F1]
GO
ALTER TABLE [dbo].[GATreeTestDataRun] DROP CONSTRAINT [DF__GATreeTes__Test___4E88ABD4]
GO
ALTER TABLE [dbo].[GATreeTestDataRun] DROP CONSTRAINT [DF__GATreeTes__Test___4D94879B]
GO
ALTER TABLE [dbo].[GATreeTestDataRun] DROP CONSTRAINT [DF__GATreeTes__TestD__45F365D3]
GO
ALTER TABLE [dbo].[GATreeDataAttributes] DROP CONSTRAINT [DF__GATreeDat__DataA__4316F928]
GO
ALTER TABLE [dbo].[GATreeDataAttributes] DROP CONSTRAINT [DF__GATreeDat__data___4222D4EF]
GO
ALTER TABLE [dbo].[GATreeDataAttributes] DROP CONSTRAINT [DF__GATreeDat__data___412EB0B6]
GO
ALTER TABLE [dbo].[GATreeDataAttributes] DROP CONSTRAINT [DF__GATreeDat__data___403A8C7D]
GO
ALTER TABLE [dbo].[GATreeDataAttributes] DROP CONSTRAINT [DF__GATreeDat__data___3F466844]
GO
ALTER TABLE [dbo].[GATreeDataAttributes] DROP CONSTRAINT [DF__GATreeDat__Data___2B3F6F97]
GO
ALTER TABLE [dbo].[GATreeData] DROP CONSTRAINT [DF__GATreeDat__Data___267ABA7A]
GO
ALTER TABLE [dbo].[GATreeData] DROP CONSTRAINT [DF__GATreeDat__Data___31EC6D26]
GO
ALTER TABLE [dbo].[GATreeData] DROP CONSTRAINT [DF__GATreeDat__Data___276EDEB3]
GO
ALTER TABLE [dbo].[GATRecordOfTrees] DROP CONSTRAINT [DF__GATRecord__IsCon__619B8048]
GO
ALTER TABLE [dbo].[GATRecordOfTrees] DROP CONSTRAINT [DF__GATRecord__runSt__60A75C0F]
GO
ALTER TABLE [dbo].[GATRecordOfTrees] DROP CONSTRAINT [DF__GATRecord__cycle__5FB337D6]
GO
ALTER TABLE [dbo].[GATRecordOfTrees] DROP CONSTRAINT [DF__GATRecord__Itera__5EBF139D]
GO
ALTER TABLE [dbo].[GATRecordOfTrees] DROP CONSTRAINT [DF__GATRecord__Test___5AEE82B9]
GO
/****** Object:  Index [IX_GATreeThinClient_testdatarunTest_data_run_id]    Script Date: 27/1/2023 3:05:48 μμ ******/
DROP INDEX [IX_GATreeThinClient_testdatarunTest_data_run_id] ON [dbo].[GATreeThinClient]
GO
/****** Object:  Index [IX_GATreeTestsData_Data_id]    Script Date: 27/1/2023 3:05:48 μμ ******/
DROP INDEX [IX_GATreeTestsData_Data_id] ON [dbo].[GATreeTestsData]
GO
/****** Object:  Index [IX_GATreeTestDataRunLog_Test_data_run_id]    Script Date: 27/1/2023 3:05:48 μμ ******/
DROP INDEX [IX_GATreeTestDataRunLog_Test_data_run_id] ON [dbo].[GATreeTestDataRunLog]
GO
/****** Object:  Index [IX_GATreeTestDataRun_TestData_id1]    Script Date: 27/1/2023 3:05:48 μμ ******/
DROP INDEX [IX_GATreeTestDataRun_TestData_id1] ON [dbo].[GATreeTestDataRun]
GO
/****** Object:  Index [IX_GATreeDataAttributes_data_DataAttributes_data_ID]    Script Date: 27/1/2023 3:05:48 μμ ******/
DROP INDEX [IX_GATreeDataAttributes_data_DataAttributes_data_ID] ON [dbo].[GATreeDataAttributes]
GO
/****** Object:  Index [IX_GATRecordOfTrees_Test_data_run_id]    Script Date: 27/1/2023 3:05:48 μμ ******/
DROP INDEX [IX_GATRecordOfTrees_Test_data_run_id] ON [dbo].[GATRecordOfTrees]
GO
/****** Object:  Table [dbo].[GATreeThinClient]    Script Date: 27/1/2023 3:05:48 μμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GATreeThinClient]') AND type in (N'U'))
DROP TABLE [dbo].[GATreeThinClient]
GO
/****** Object:  Table [dbo].[GATreeTestsData]    Script Date: 27/1/2023 3:05:48 μμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GATreeTestsData]') AND type in (N'U'))
DROP TABLE [dbo].[GATreeTestsData]
GO
/****** Object:  Table [dbo].[GATreeTestDataRunLog]    Script Date: 27/1/2023 3:05:48 μμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GATreeTestDataRunLog]') AND type in (N'U'))
DROP TABLE [dbo].[GATreeTestDataRunLog]
GO
/****** Object:  Table [dbo].[GATreeTestDataRun]    Script Date: 27/1/2023 3:05:48 μμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GATreeTestDataRun]') AND type in (N'U'))
DROP TABLE [dbo].[GATreeTestDataRun]
GO
/****** Object:  Table [dbo].[GATreeLogging]    Script Date: 27/1/2023 3:05:48 μμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GATreeLogging]') AND type in (N'U'))
DROP TABLE [dbo].[GATreeLogging]
GO
/****** Object:  Table [dbo].[GATreeDataAttributes]    Script Date: 27/1/2023 3:05:48 μμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GATreeDataAttributes]') AND type in (N'U'))
DROP TABLE [dbo].[GATreeDataAttributes]
GO
/****** Object:  Table [dbo].[GATreeData]    Script Date: 27/1/2023 3:05:48 μμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GATreeData]') AND type in (N'U'))
DROP TABLE [dbo].[GATreeData]
GO
/****** Object:  Table [dbo].[GATRecordOfTrees]    Script Date: 27/1/2023 3:05:48 μμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GATRecordOfTrees]') AND type in (N'U'))
DROP TABLE [dbo].[GATRecordOfTrees]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 27/1/2023 3:05:48 μμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__EFMigrationsHistory]
GO
USE [master]
GO
/****** Object:  Database [Test1]    Script Date: 27/1/2023 3:05:48 μμ ******/
DROP DATABASE [Test1]
GO
/****** Object:  Database [Test1]    Script Date: 27/1/2023 3:05:48 μμ ******/
CREATE DATABASE [Test1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Test1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Test1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Test1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test1]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 27/1/2023 3:05:48 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GATRecordOfTrees]    Script Date: 27/1/2023 3:05:48 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GATRecordOfTrees](
	[RecordOfTrees_id] [int] IDENTITY(1,1) NOT NULL,
	[RecordOfTrees_guid] [nvarchar](max) NOT NULL,
	[RecordOfTrees_data] [nvarchar](max) NULL,
	[RecordOfTrees_treeStatus] [int] NOT NULL,
	[Test_data_run_id] [int] NOT NULL,
	[RecordOfTrees_cycleStage] [int] NOT NULL,
	[RecordOfTrees_iterationNo] [int] NOT NULL,
	[RecordOfTrees_runStage] [int] NOT NULL,
	[RecordOfTrees_isConsolidation] [bit] NOT NULL,
	[RecordTrees_thinClientGuid] [nvarchar](max) NULL,
 CONSTRAINT [PK_GATRecordOfTrees] PRIMARY KEY CLUSTERED 
(
	[RecordOfTrees_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GATreeData]    Script Date: 27/1/2023 3:05:48 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GATreeData](
	[Data_id] [int] IDENTITY(1,1) NOT NULL,
	[Data_guid] [nvarchar](max) NOT NULL,
	[Data_friendlyname] [nvarchar](max) NOT NULL,
	[Data_notes] [nvarchar](max) NULL,
	[Data_json] [nvarchar](max) NULL,
	[Data_date] [datetime2](7) NOT NULL,
	[Data_header] [nvarchar](max) NULL,
	[Data_URL] [nvarchar](max) NULL,
	[attributes_text] [nvarchar](max) NULL,
 CONSTRAINT [PK_GATreeData] PRIMARY KEY CLUSTERED 
(
	[Data_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GATreeDataAttributes]    Script Date: 27/1/2023 3:05:48 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GATreeDataAttributes](
	[DataAttributes_Id] [int] IDENTITY(1,1) NOT NULL,
	[DataAttributes_sn] [int] NOT NULL,
	[DataAttributes_name] [nvarchar](max) NULL,
	[DataAttributes_type] [nvarchar](max) NULL,
	[DataAttributes_attributesData] [nvarchar](max) NULL,
	[DataAttributes_isClass] [bit] NOT NULL,
	[data_DataAttributes_data_ID] [int] NOT NULL,
	[DataAttributes_guid] [nvarchar](max) NOT NULL,
	[data_DataAttributes_intMax] [int] NOT NULL,
	[data_DataAttributes_floatMax] [real] NOT NULL,
	[data_DataAttributes_floatMin] [real] NOT NULL,
	[data_DataAttributes_intMin] [int] NOT NULL,
	[DataAttributes_hasNullValues] [bit] NOT NULL,
 CONSTRAINT [PK_GATreeDataAttributes] PRIMARY KEY CLUSTERED 
(
	[DataAttributes_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GATreeLogging]    Script Date: 27/1/2023 3:05:48 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GATreeLogging](
	[Error_id] [int] IDENTITY(1,1) NOT NULL,
	[Data_date] [datetime2](7) NOT NULL,
	[ErrorMessage] [nvarchar](max) NULL,
 CONSTRAINT [PK_GATreeLogging] PRIMARY KEY CLUSTERED 
(
	[Error_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GATreeTestDataRun]    Script Date: 27/1/2023 3:05:48 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GATreeTestDataRun](
	[Test_data_run_id] [int] IDENTITY(1,1) NOT NULL,
	[TestDataRun_guid] [nvarchar](max) NOT NULL,
	[TestDataRun_dateStart] [datetime2](7) NOT NULL,
	[TestDataRun_dateEnd] [datetime2](7) NOT NULL,
	[TestData_id] [int] NOT NULL,
	[TestDataRun_cycleStage] [int] NOT NULL,
	[TestDataRun_comments] [nvarchar](max) NULL,
	[TestDataRun_results] [nvarchar](max) NULL,
	[TestDataRun_runStage] [int] NOT NULL,
	[TestData_id1] [int] NULL,
	[TestDataRun_CurrentIterationNumber] [int] NOT NULL,
	[TestDataRun_MaxIterationNumber] [int] NOT NULL,
 CONSTRAINT [PK_GATreeTestDataRun] PRIMARY KEY CLUSTERED 
(
	[Test_data_run_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GATreeTestDataRunLog]    Script Date: 27/1/2023 3:05:48 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GATreeTestDataRunLog](
	[TestDataRunLog_id] [int] IDENTITY(1,1) NOT NULL,
	[TestDataRunLog_guid] [nvarchar](max) NOT NULL,
	[TestDataRunLog_IterationNo] [int] NOT NULL,
	[TestDataRunLog_data] [nvarchar](max) NULL,
	[TestDataRunLog_comments] [nvarchar](max) NULL,
	[Test_data_run_id] [int] NOT NULL,
	[TestDataRunLog_BestResult] [nvarchar](max) NULL,
 CONSTRAINT [PK_GATreeTestDataRunLog] PRIMARY KEY CLUSTERED 
(
	[TestDataRunLog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GATreeTestsData]    Script Date: 27/1/2023 3:05:48 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GATreeTestsData](
	[TestData_id] [int] IDENTITY(1,1) NOT NULL,
	[TestData_friendlyName] [nvarchar](max) NOT NULL,
	[TestData_notes] [nvarchar](max) NULL,
	[TestData_guid] [nvarchar](max) NOT NULL,
	[TestData_params] [nvarchar](max) NULL,
	[TestData_data_id] [int] NOT NULL,
	[TestData_correctionfactor] [real] NOT NULL,
	[TestData_crossoverPropability] [real] NOT NULL,
	[TestData_generationGap] [int] NOT NULL,
	[TestData_mutationPropability] [real] NOT NULL,
	[TestData_numberOfMaxGenerations] [int] NOT NULL,
	[TestData_numberOfMaxTrees] [int] NOT NULL,
	[Data_id] [int] NULL,
 CONSTRAINT [PK_GATreeTestsData] PRIMARY KEY CLUSTERED 
(
	[TestData_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GATreeThinClient]    Script Date: 27/1/2023 3:05:48 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GATreeThinClient](
	[ThinClient_id] [int] IDENTITY(1,1) NOT NULL,
	[ThinClient_guid] [nvarchar](max) NOT NULL,
	[Test_data_run_id] [int] NOT NULL,
	[testdatarunTest_data_run_id] [int] NULL,
	[ThinClient_isRunActive] [bit] NOT NULL,
	[thinClient_isActive] [bit] NOT NULL,
 CONSTRAINT [PK_GATreeThinClient] PRIMARY KEY CLUSTERED 
(
	[ThinClient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211230223219_AddData2DB', N'5.0.13')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220101213722_AddDate2Data', N'5.0.13')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220102213708_AddDataAttributes', N'5.0.13')
GO
SET IDENTITY_INSERT [dbo].[GATRecordOfTrees] ON 

INSERT [dbo].[GATRecordOfTrees] ([RecordOfTrees_id], [RecordOfTrees_guid], [RecordOfTrees_data], [RecordOfTrees_treeStatus], [Test_data_run_id], [RecordOfTrees_cycleStage], [RecordOfTrees_iterationNo], [RecordOfTrees_runStage], [RecordOfTrees_isConsolidation], [RecordTrees_thinClientGuid]) VALUES (1192, N'2a4b687a-b075-4352-bfa3-bcbfec57b2d3', N'{"trees":[{"tree":"tree11","evaluation": " 58 "},{"tree": "tree22","evaluation":" 26 "}] }', 0, 9, -71, -1, 800, 0, N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[GATRecordOfTrees] ([RecordOfTrees_id], [RecordOfTrees_guid], [RecordOfTrees_data], [RecordOfTrees_treeStatus], [Test_data_run_id], [RecordOfTrees_cycleStage], [RecordOfTrees_iterationNo], [RecordOfTrees_runStage], [RecordOfTrees_isConsolidation], [RecordTrees_thinClientGuid]) VALUES (1193, N'd1f70d57-6d66-42dc-90a4-d2523b8c2374', N'{"trees":[{"tree":"tree11","evaluation": " 72 "},{"tree": "tree22","evaluation":" 31 "}] }', 20, 9, -71, -1, 800, 0, N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[GATRecordOfTrees] ([RecordOfTrees_id], [RecordOfTrees_guid], [RecordOfTrees_data], [RecordOfTrees_treeStatus], [Test_data_run_id], [RecordOfTrees_cycleStage], [RecordOfTrees_iterationNo], [RecordOfTrees_runStage], [RecordOfTrees_isConsolidation], [RecordTrees_thinClientGuid]) VALUES (1194, N'81eb3a9a-f9da-4ef3-802d-37a84533b6e1', N'{"trees":[{"tree":"tree11","evaluation": " 19 "},{"tree": "tree22","evaluation":" 47 "}] }', 20, 9, -71, -1, 800, 0, N'00000000-0000-0000-0000-000000000000')
SET IDENTITY_INSERT [dbo].[GATRecordOfTrees] OFF
GO
SET IDENTITY_INSERT [dbo].[GATreeData] ON 

SET IDENTITY_INSERT [dbo].[GATreeData] OFF
GO
SET IDENTITY_INSERT [dbo].[GATreeDataAttributes] ON 

INSERT [dbo].[GATreeDataAttributes] ([DataAttributes_Id], [DataAttributes_sn], [DataAttributes_name], [DataAttributes_type], [DataAttributes_attributesData], [DataAttributes_isClass], [data_DataAttributes_data_ID], [DataAttributes_guid], [data_DataAttributes_intMax], [data_DataAttributes_floatMax], [data_DataAttributes_floatMin], [data_DataAttributes_intMin], [DataAttributes_hasNullValues]) VALUES (1, 1, N'sepallength', N'NUMERIC', NULL, 0, 1, N'ea5f82ae-5f47-449d-906e-38dd055c18e9', -2147483648, 7.9, 4.3, 2147483647, 0)
INSERT [dbo].[GATreeDataAttributes] ([DataAttributes_Id], [DataAttributes_sn], [DataAttributes_name], [DataAttributes_type], [DataAttributes_attributesData], [DataAttributes_isClass], [data_DataAttributes_data_ID], [DataAttributes_guid], [data_DataAttributes_intMax], [data_DataAttributes_floatMax], [data_DataAttributes_floatMin], [data_DataAttributes_intMin], [DataAttributes_hasNullValues]) VALUES (2, 2, N'sepalwidth', N'NUMERIC', NULL, 0, 1, N'ea5f82ae-5f47-449d-906e-38dd055c18e9', -2147483648, 4.4, 2, 2147483647, 0)
INSERT [dbo].[GATreeDataAttributes] ([DataAttributes_Id], [DataAttributes_sn], [DataAttributes_name], [DataAttributes_type], [DataAttributes_attributesData], [DataAttributes_isClass], [data_DataAttributes_data_ID], [DataAttributes_guid], [data_DataAttributes_intMax], [data_DataAttributes_floatMax], [data_DataAttributes_floatMin], [data_DataAttributes_intMin], [DataAttributes_hasNullValues]) VALUES (3, 3, N'petallength', N'NUMERIC', NULL, 0, 1, N'ea5f82ae-5f47-449d-906e-38dd055c18e9', -2147483648, 6.9, 1, 2147483647, 0)
SET IDENTITY_INSERT [dbo].[GATreeDataAttributes] OFF
GO
SET IDENTITY_INSERT [dbo].[GATreeLogging] ON 

INSERT [dbo].[GATreeLogging] ([Error_id], [Data_date], [ErrorMessage]) VALUES (1, CAST(N'2022-12-16T11:44:46.7425993' AS DateTime2), N'step1:CreateTrees: no 2 found in db.GATreeTestsData')
INSERT [dbo].[GATreeLogging] ([Error_id], [Data_date], [ErrorMessage]) VALUES (2, CAST(N'2022-12-20T11:31:12.0938319' AS DateTime2), N'Step1Post: trees are full : datarunId = 2 ,clientGuid = 00000000-0000-0000-0000-000000000000 ')
INSERT [dbo].[GATreeLogging] ([Error_id], [Data_date], [ErrorMessage]) VALUES (3, CAST(N'2022-12-22T11:24:24.0694661' AS DateTime2), N'Step1Post: trees are full : datarunId = 4 ,clientGuid = 00000000-0000-0000-0000-000000000000 ')
GO
SET IDENTITY_INSERT [dbo].[GATreeLogging] OFF
GO
SET IDENTITY_INSERT [dbo].[GATreeTestDataRun] ON 

INSERT [dbo].[GATreeTestDataRun] ([Test_data_run_id], [TestDataRun_guid], [TestDataRun_dateStart], [TestDataRun_dateEnd], [TestData_id], [TestDataRun_cycleStage], [TestDataRun_comments], [TestDataRun_results], [TestDataRun_runStage], [TestData_id1], [TestDataRun_CurrentIterationNumber], [TestDataRun_MaxIterationNumber]) VALUES (9, N'92e88cba-3312-4a53-9366-31a9a96e1cef', CAST(N'2023-01-16T13:10:07.6718152' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 1, 730, N'step1 CreateTreeRecordsInit', NULL, 820, 1, 2, 100)
INSERT [dbo].[GATreeTestDataRun] ([Test_data_run_id], [TestDataRun_guid], [TestDataRun_dateStart], [TestDataRun_dateEnd], [TestData_id], [TestDataRun_cycleStage], [TestDataRun_comments], [TestDataRun_results], [TestDataRun_runStage], [TestData_id1], [TestDataRun_CurrentIterationNumber], [TestDataRun_MaxIterationNumber]) VALUES (10, N'1ba23029-37d0-4bf5-8ffb-c5e351e9ac22', CAST(N'2023-01-19T12:54:06.5957349' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 1, 71, N'step1 CreateTreeRecordsInit', NULL, 800, 1, -1, 100)
INSERT [dbo].[GATreeTestDataRun] ([Test_data_run_id], [TestDataRun_guid], [TestDataRun_dateStart], [TestDataRun_dateEnd], [TestData_id], [TestDataRun_cycleStage], [TestDataRun_comments], [TestDataRun_results], [TestDataRun_runStage], [TestData_id1], [TestDataRun_CurrentIterationNumber], [TestDataRun_MaxIterationNumber]) VALUES (14, N'6467a8dc-daeb-432a-855d-2a0d4d080a84', CAST(N'2023-01-20T10:15:35.2134543' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 3, 71, NULL, NULL, 81, 3, -1, -1)
SET IDENTITY_INSERT [dbo].[GATreeTestDataRun] OFF
GO
SET IDENTITY_INSERT [dbo].[GATreeTestDataRunLog] ON 

INSERT [dbo].[GATreeTestDataRunLog] ([TestDataRunLog_id], [TestDataRunLog_guid], [TestDataRunLog_IterationNo], [TestDataRunLog_data], [TestDataRunLog_comments], [Test_data_run_id], [TestDataRunLog_BestResult]) VALUES (1077, N'50b8433c-2e12-4b12-a464-941f4be326e2', 100, NULL, N'Step0:initializing', 9, NULL)
INSERT [dbo].[GATreeTestDataRunLog] ([TestDataRunLog_id], [TestDataRunLog_guid], [TestDataRunLog_IterationNo], [TestDataRunLog_data], [TestDataRunLog_comments], [Test_data_run_id], [TestDataRunLog_BestResult]) VALUES (1078, N'c2207fdd-f41c-4acc-aebb-812b6a1a1149', -1, NULL, N'Step1:initializing CreateTreeRecordsInit', 9, NULL)
INSERT [dbo].[GATreeTestDataRunLog] ([TestDataRunLog_id], [TestDataRunLog_guid], [TestDataRunLog_IterationNo], [TestDataRunLog_data], [TestDataRunLog_comments], [Test_data_run_id], [TestDataRunLog_BestResult]) VALUES (1079, N'd6d05f7d-a025-4ed2-83b9-23fe59f9b56b', -1, NULL, N'Step1: Creating 10 records  in the RecordOfTrees asking 2000 trees', 9, NULL)
SET IDENTITY_INSERT [dbo].[GATreeTestDataRunLog] OFF
GO
SET IDENTITY_INSERT [dbo].[GATreeTestsData] ON 

INSERT [dbo].[GATreeTestsData] ([TestData_id], [TestData_friendlyName], [TestData_notes], [TestData_guid], [TestData_params], [TestData_data_id], [TestData_correctionfactor], [TestData_crossoverPropability], [TestData_generationGap], [TestData_mutationPropability], [TestData_numberOfMaxGenerations], [TestData_numberOfMaxTrees], [Data_id]) VALUES (1, N'TestDataUrl', NULL, N'6e2f1996-bac3-4ab7-8cf9-1b817253e4e6', N'hidden', 1, 10, 2, 10, 2, 100, 200, NULL)
INSERT [dbo].[GATreeTestsData] ([TestData_id], [TestData_friendlyName], [TestData_notes], [TestData_guid], [TestData_params], [TestData_data_id], [TestData_correctionfactor], [TestData_crossoverPropability], [TestData_generationGap], [TestData_mutationPropability], [TestData_numberOfMaxGenerations], [TestData_numberOfMaxTrees], [Data_id]) VALUES (2, N'Friendly name 1', N'TestData_notes 9', N'b63864a6-575a-4e07-8676-fbc84b7edfde', N'hidden', 1, 10, 2, 10, 2, 100, 200, NULL)
INSERT [dbo].[GATreeTestsData] ([TestData_id], [TestData_friendlyName], [TestData_notes], [TestData_guid], [TestData_params], [TestData_data_id], [TestData_correctionfactor], [TestData_crossoverPropability], [TestData_generationGap], [TestData_mutationPropability], [TestData_numberOfMaxGenerations], [TestData_numberOfMaxTrees], [Data_id]) VALUES (3, N'Friendly name 10', N'For Json test', N'eb2f171e-b799-4a14-afdc-c2374b2061db', N'hidden', 1, 10, 2, 10, 2, 100, 200, NULL)
SET IDENTITY_INSERT [dbo].[GATreeTestsData] OFF
GO
SET IDENTITY_INSERT [dbo].[GATreeThinClient] ON 

INSERT [dbo].[GATreeThinClient] ([ThinClient_id], [ThinClient_guid], [Test_data_run_id], [testdatarunTest_data_run_id], [ThinClient_isRunActive], [thinClient_isActive]) VALUES (1, N'00000000-0000-0000-0000-000000000000', 4, NULL, 1, 1)
INSERT [dbo].[GATreeThinClient] ([ThinClient_id], [ThinClient_guid], [Test_data_run_id], [testdatarunTest_data_run_id], [ThinClient_isRunActive], [thinClient_isActive]) VALUES (2, N'b3672ea0-9def-4ff1-ac60-4d2d00d67da3', 15, NULL, 1, 1)
INSERT [dbo].[GATreeThinClient] ([ThinClient_id], [ThinClient_guid], [Test_data_run_id], [testdatarunTest_data_run_id], [ThinClient_isRunActive], [thinClient_isActive]) VALUES (5, N'82450434-3a1e-4560-9ac0-0e96f2f08f1f', 15, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[GATreeThinClient] OFF
GO
/****** Object:  Index [IX_GATRecordOfTrees_Test_data_run_id]    Script Date: 27/1/2023 3:05:48 μμ ******/
CREATE NONCLUSTERED INDEX [IX_GATRecordOfTrees_Test_data_run_id] ON [dbo].[GATRecordOfTrees]
(
	[Test_data_run_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GATreeDataAttributes_data_DataAttributes_data_ID]    Script Date: 27/1/2023 3:05:48 μμ ******/
CREATE NONCLUSTERED INDEX [IX_GATreeDataAttributes_data_DataAttributes_data_ID] ON [dbo].[GATreeDataAttributes]
(
	[data_DataAttributes_data_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GATreeTestDataRun_TestData_id1]    Script Date: 27/1/2023 3:05:48 μμ ******/
CREATE NONCLUSTERED INDEX [IX_GATreeTestDataRun_TestData_id1] ON [dbo].[GATreeTestDataRun]
(
	[TestData_id1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GATreeTestDataRunLog_Test_data_run_id]    Script Date: 27/1/2023 3:05:48 μμ ******/
CREATE NONCLUSTERED INDEX [IX_GATreeTestDataRunLog_Test_data_run_id] ON [dbo].[GATreeTestDataRunLog]
(
	[Test_data_run_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GATreeTestsData_Data_id]    Script Date: 27/1/2023 3:05:48 μμ ******/
CREATE NONCLUSTERED INDEX [IX_GATreeTestsData_Data_id] ON [dbo].[GATreeTestsData]
(
	[Data_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GATreeThinClient_testdatarunTest_data_run_id]    Script Date: 27/1/2023 3:05:48 μμ ******/
CREATE NONCLUSTERED INDEX [IX_GATreeThinClient_testdatarunTest_data_run_id] ON [dbo].[GATreeThinClient]
(
	[testdatarunTest_data_run_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GATRecordOfTrees] ADD  DEFAULT ((0)) FOR [Test_data_run_id]
GO
ALTER TABLE [dbo].[GATRecordOfTrees] ADD  DEFAULT ((0)) FOR [RecordOfTrees_cycleStage]
GO
ALTER TABLE [dbo].[GATRecordOfTrees] ADD  DEFAULT ((0)) FOR [RecordOfTrees_iterationNo]
GO
ALTER TABLE [dbo].[GATRecordOfTrees] ADD  DEFAULT ((0)) FOR [RecordOfTrees_runStage]
GO
ALTER TABLE [dbo].[GATRecordOfTrees] ADD  DEFAULT (CONVERT([bit],(0))) FOR [RecordOfTrees_isConsolidation]
GO
ALTER TABLE [dbo].[GATreeData] ADD  DEFAULT (N'') FOR [Data_guid]
GO
ALTER TABLE [dbo].[GATreeData] ADD  DEFAULT (N'') FOR [Data_friendlyname]
GO
ALTER TABLE [dbo].[GATreeData] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [Data_date]
GO
ALTER TABLE [dbo].[GATreeDataAttributes] ADD  DEFAULT (N'') FOR [DataAttributes_guid]
GO
ALTER TABLE [dbo].[GATreeDataAttributes] ADD  DEFAULT ((0)) FOR [data_DataAttributes_intMax]
GO
ALTER TABLE [dbo].[GATreeDataAttributes] ADD  DEFAULT (CONVERT([real],(0))) FOR [data_DataAttributes_floatMax]
GO
ALTER TABLE [dbo].[GATreeDataAttributes] ADD  DEFAULT (CONVERT([real],(0))) FOR [data_DataAttributes_floatMin]
GO
ALTER TABLE [dbo].[GATreeDataAttributes] ADD  DEFAULT ((0)) FOR [data_DataAttributes_intMin]
GO
ALTER TABLE [dbo].[GATreeDataAttributes] ADD  DEFAULT (CONVERT([bit],(0))) FOR [DataAttributes_hasNullValues]
GO
ALTER TABLE [dbo].[GATreeTestDataRun] ADD  DEFAULT ((0)) FOR [TestData_id]
GO
ALTER TABLE [dbo].[GATreeTestDataRun] ADD  DEFAULT ((0)) FOR [TestDataRun_cycleStage]
GO
ALTER TABLE [dbo].[GATreeTestDataRun] ADD  DEFAULT ((0)) FOR [TestDataRun_runStage]
GO
ALTER TABLE [dbo].[GATreeTestDataRun] ADD  DEFAULT ((0)) FOR [TestDataRun_CurrentIterationNumber]
GO
ALTER TABLE [dbo].[GATreeTestDataRun] ADD  DEFAULT ((0)) FOR [TestDataRun_MaxIterationNumber]
GO
ALTER TABLE [dbo].[GATreeTestDataRunLog] ADD  DEFAULT ((0)) FOR [Test_data_run_id]
GO
ALTER TABLE [dbo].[GATreeTestsData] ADD  DEFAULT (N'') FOR [TestData_friendlyName]
GO
ALTER TABLE [dbo].[GATreeTestsData] ADD  DEFAULT (N'') FOR [TestData_guid]
GO
ALTER TABLE [dbo].[GATreeTestsData] ADD  DEFAULT (CONVERT([real],(0))) FOR [TestData_correctionfactor]
GO
ALTER TABLE [dbo].[GATreeTestsData] ADD  DEFAULT (CONVERT([real],(0))) FOR [TestData_crossoverPropability]
GO
ALTER TABLE [dbo].[GATreeTestsData] ADD  DEFAULT ((0)) FOR [TestData_generationGap]
GO
ALTER TABLE [dbo].[GATreeTestsData] ADD  DEFAULT (CONVERT([real],(0))) FOR [TestData_mutationPropability]
GO
ALTER TABLE [dbo].[GATreeTestsData] ADD  DEFAULT ((0)) FOR [TestData_numberOfMaxGenerations]
GO
ALTER TABLE [dbo].[GATreeTestsData] ADD  DEFAULT ((0)) FOR [TestData_numberOfMaxTrees]
GO
ALTER TABLE [dbo].[GATreeThinClient] ADD  DEFAULT (CONVERT([bit],(0))) FOR [ThinClient_isRunActive]
GO
ALTER TABLE [dbo].[GATreeThinClient] ADD  DEFAULT (CONVERT([bit],(0))) FOR [thinClient_isActive]
GO
ALTER TABLE [dbo].[GATRecordOfTrees]  WITH CHECK ADD  CONSTRAINT [FK_GATRecordOfTrees_GATreeTestDataRun_Test_data_run_id] FOREIGN KEY([Test_data_run_id])
REFERENCES [dbo].[GATreeTestDataRun] ([Test_data_run_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GATRecordOfTrees] CHECK CONSTRAINT [FK_GATRecordOfTrees_GATreeTestDataRun_Test_data_run_id]
GO
ALTER TABLE [dbo].[GATreeDataAttributes]  WITH CHECK ADD  CONSTRAINT [FK_GATreeDataAttributes_GATreeData_data_DataAttributes_data_ID] FOREIGN KEY([data_DataAttributes_data_ID])
REFERENCES [dbo].[GATreeData] ([Data_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GATreeDataAttributes] CHECK CONSTRAINT [FK_GATreeDataAttributes_GATreeData_data_DataAttributes_data_ID]
GO
ALTER TABLE [dbo].[GATreeTestDataRun]  WITH CHECK ADD  CONSTRAINT [FK_GATreeTestDataRun_GATreeTestsData_TestData_id1] FOREIGN KEY([TestData_id1])
REFERENCES [dbo].[GATreeTestsData] ([TestData_id])
GO
ALTER TABLE [dbo].[GATreeTestDataRun] CHECK CONSTRAINT [FK_GATreeTestDataRun_GATreeTestsData_TestData_id1]
GO
ALTER TABLE [dbo].[GATreeTestDataRunLog]  WITH CHECK ADD  CONSTRAINT [FK_GATreeTestDataRunLog_GATreeTestDataRun_Test_data_run_id] FOREIGN KEY([Test_data_run_id])
REFERENCES [dbo].[GATreeTestDataRun] ([Test_data_run_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GATreeTestDataRunLog] CHECK CONSTRAINT [FK_GATreeTestDataRunLog_GATreeTestDataRun_Test_data_run_id]
GO
ALTER TABLE [dbo].[GATreeTestsData]  WITH CHECK ADD  CONSTRAINT [FK_GATreeTestsData_GATreeData_Data_id] FOREIGN KEY([Data_id])
REFERENCES [dbo].[GATreeData] ([Data_id])
GO
ALTER TABLE [dbo].[GATreeTestsData] CHECK CONSTRAINT [FK_GATreeTestsData_GATreeData_Data_id]
GO
ALTER TABLE [dbo].[GATreeThinClient]  WITH CHECK ADD  CONSTRAINT [FK_GATreeThinClient_GATreeTestDataRun_testdatarunTest_data_run_id] FOREIGN KEY([testdatarunTest_data_run_id])
REFERENCES [dbo].[GATreeTestDataRun] ([Test_data_run_id])
GO
ALTER TABLE [dbo].[GATreeThinClient] CHECK CONSTRAINT [FK_GATreeThinClient_GATreeTestDataRun_testdatarunTest_data_run_id]
GO
USE [master]
GO
