USE [master]
GO
/****** Object:  Database [Test1]    Script Date: 30/11/2022 1:16:41 μμ ******/
CREATE DATABASE [Test1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Test1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Test1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Test1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test1]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 30/11/2022 1:16:42 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GATRecordOfTrees]    Script Date: 30/11/2022 1:16:42 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GATRecordOfTrees](
	[RecordOfTrees_id] [int] IDENTITY(1,1) NOT NULL,
	[RecordOfTrees_guid] [nvarchar](max) NOT NULL,
	[RecordOfTrees_data] [nvarchar](max) NULL,
	[RecordOfTrees_treeStatus] [int] NOT NULL,
	[Test_data_run_id] [int] NOT NULL,
	[ThinClient_id] [int] NOT NULL,
	[RecordOfTrees_cycleStage] [int] NOT NULL,
	[RecordOfTrees_iterationNo] [int] NOT NULL,
	[RecordOfTrees_runStage] [int] NOT NULL,
	[RecordOfTrees_isConsolidation] [bit] NOT NULL,
 CONSTRAINT [PK_GATRecordOfTrees] PRIMARY KEY CLUSTERED 
(
	[RecordOfTrees_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GATreeData]    Script Date: 30/11/2022 1:16:42 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GATreeData](
	[Data_id] [int] IDENTITY(1,1) NOT NULL,
	[Data_guid] [nvarchar](max) NOT NULL,
	[Data_friendlyname] [nvarchar](max) NOT NULL,
	[Data_notes] [nvarchar](max) NULL,
	[Data_json] [nvarchar](max) NULL,
	[Data_date] [datetime2](7) NOT NULL,
	[Data_header] [nvarchar](max) NULL,
	[Data_URL] [nvarchar](max) NULL,
 CONSTRAINT [PK_GATreeData] PRIMARY KEY CLUSTERED 
(
	[Data_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GATreeDataAttributes]    Script Date: 30/11/2022 1:16:42 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GATreeDataAttributes](
	[DataAttributes_Id] [int] IDENTITY(1,1) NOT NULL,
	[DataAttributes_sn] [int] NOT NULL,
	[DataAttributes_name] [nvarchar](max) NULL,
	[DataAttributes_type] [nvarchar](max) NULL,
	[DataAttributes_attributesData] [nvarchar](max) NULL,
	[DataAttributes_isClass] [bit] NOT NULL,
	[data_DataAttributes_data_ID] [int] NOT NULL,
	[DataAttributes_guid] [nvarchar](max) NOT NULL,
	[data_DataAttributes_intMax] [int] NOT NULL,
	[data_DataAttributes_floatMax] [real] NOT NULL,
	[data_DataAttributes_floatMin] [real] NOT NULL,
	[data_DataAttributes_intMin] [int] NOT NULL,
	[DataAttributes_hasNullValues] [bit] NOT NULL,
 CONSTRAINT [PK_GATreeDataAttributes] PRIMARY KEY CLUSTERED 
(
	[DataAttributes_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GATreeLogging]    Script Date: 30/11/2022 1:16:42 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GATreeLogging](
	[Error_id] [int] IDENTITY(1,1) NOT NULL,
	[Data_date] [datetime2](7) NOT NULL,
	[ErrorMessage] [nvarchar](max) NULL,
 CONSTRAINT [PK_GATreeLogging] PRIMARY KEY CLUSTERED 
(
	[Error_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GATreeTestDataRun]    Script Date: 30/11/2022 1:16:42 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GATreeTestDataRun](
	[Test_data_run_id] [int] IDENTITY(1,1) NOT NULL,
	[TestDataRun_guid] [nvarchar](max) NOT NULL,
	[TestDataRun_dateStart] [datetime2](7) NOT NULL,
	[TestDataRun_dateEnd] [datetime2](7) NOT NULL,
	[TestData_id] [int] NOT NULL,
	[TestDataRun_cycleStage] [int] NOT NULL,
	[TestDataRun_comments] [nvarchar](max) NULL,
	[TestDataRun_results] [nvarchar](max) NULL,
	[TestDataRun_runStage] [int] NOT NULL,
	[TestData_id1] [int] NULL,
	[TestDataRun_CurrentIterationNumber] [int] NOT NULL,
	[TestDataRun_MaxIterationNumber] [int] NOT NULL,
 CONSTRAINT [PK_GATreeTestDataRun] PRIMARY KEY CLUSTERED 
(
	[Test_data_run_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GATreeTestDataRunLog]    Script Date: 30/11/2022 1:16:42 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GATreeTestDataRunLog](
	[TestDataRunLog_id] [int] IDENTITY(1,1) NOT NULL,
	[TestDataRunLog_guid] [nvarchar](max) NOT NULL,
	[TestDataRunLog_IterationNo] [int] NOT NULL,
	[TestDataRunLog_data] [nvarchar](max) NULL,
	[TestDataRunLog_comments] [nvarchar](max) NULL,
	[Test_data_run_id] [int] NOT NULL,
	[TestDataRunLog_BestResult] [nvarchar](max) NULL,
 CONSTRAINT [PK_GATreeTestDataRunLog] PRIMARY KEY CLUSTERED 
(
	[TestDataRunLog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GATreeTestsData]    Script Date: 30/11/2022 1:16:42 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GATreeTestsData](
	[TestData_id] [int] IDENTITY(1,1) NOT NULL,
	[TestData_friendlyName] [nvarchar](max) NOT NULL,
	[TestData_notes] [nvarchar](max) NULL,
	[TestData_guid] [nvarchar](max) NOT NULL,
	[TestData_params] [nvarchar](max) NULL,
	[TestData_data_id] [int] NOT NULL,
	[TestData_correctionfactor] [real] NOT NULL,
	[TestData_crossoverPropability] [real] NOT NULL,
	[TestData_generationGap] [int] NOT NULL,
	[TestData_mutationPropability] [real] NOT NULL,
	[TestData_numberOfMaxGenerations] [int] NOT NULL,
	[TestData_numberOfMaxTrees] [int] NOT NULL,
	[Data_id] [int] NULL,
 CONSTRAINT [PK_GATreeTestsData] PRIMARY KEY CLUSTERED 
(
	[TestData_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GATreeThinClient]    Script Date: 30/11/2022 1:16:42 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GATreeThinClient](
	[ThinClient_id] [int] IDENTITY(1,1) NOT NULL,
	[ThinClient_guid] [nvarchar](max) NOT NULL,
	[Test_data_run_id] [int] NOT NULL,
	[testdatarunTest_data_run_id] [int] NULL,
	[ThinClient_isRunActive] [bit] NOT NULL,
	[thinClient_isActive] [bit] NOT NULL,
 CONSTRAINT [PK_GATreeThinClient] PRIMARY KEY CLUSTERED 
(
	[ThinClient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211230223219_AddData2DB', N'5.0.13')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220101213722_AddDate2Data', N'5.0.13')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220102213708_AddDataAttributes', N'5.0.13')
GO
SET IDENTITY_INSERT [dbo].[GATreeData] ON 

SET IDENTITY_INSERT [dbo].[GATreeData] OFF
GO
SET IDENTITY_INSERT [dbo].[GATreeDataAttributes] ON 

INSERT [dbo].[GATreeDataAttributes] ([DataAttributes_Id], [DataAttributes_sn], [DataAttributes_name], [DataAttributes_type], [DataAttributes_attributesData], [DataAttributes_isClass], [data_DataAttributes_data_ID], [DataAttributes_guid], [data_DataAttributes_intMax], [data_DataAttributes_floatMax], [data_DataAttributes_floatMin], [data_DataAttributes_intMin], [DataAttributes_hasNullValues]) VALUES (1, 1, N'sepallength', N'NUMERIC', NULL, 0, 1, N'ea5f82ae-5f47-449d-906e-38dd055c18e9', -2147483648, 7.9, 4.3, 2147483647, 0)
INSERT [dbo].[GATreeDataAttributes] ([DataAttributes_Id], [DataAttributes_sn], [DataAttributes_name], [DataAttributes_type], [DataAttributes_attributesData], [DataAttributes_isClass], [data_DataAttributes_data_ID], [DataAttributes_guid], [data_DataAttributes_intMax], [data_DataAttributes_floatMax], [data_DataAttributes_floatMin], [data_DataAttributes_intMin], [DataAttributes_hasNullValues]) VALUES (2, 2, N'sepalwidth', N'NUMERIC', NULL, 0, 1, N'ea5f82ae-5f47-449d-906e-38dd055c18e9', -2147483648, 4.4, 2, 2147483647, 0)
INSERT [dbo].[GATreeDataAttributes] ([DataAttributes_Id], [DataAttributes_sn], [DataAttributes_name], [DataAttributes_type], [DataAttributes_attributesData], [DataAttributes_isClass], [data_DataAttributes_data_ID], [DataAttributes_guid], [data_DataAttributes_intMax], [data_DataAttributes_floatMax], [data_DataAttributes_floatMin], [data_DataAttributes_intMin], [DataAttributes_hasNullValues]) VALUES (3, 3, N'petallength', N'NUMERIC', NULL, 0, 1, N'ea5f82ae-5f47-449d-906e-38dd055c18e9', -2147483648, 6.9, 1, 2147483647, 0)
SET IDENTITY_INSERT [dbo].[GATreeDataAttributes] OFF
GO
SET IDENTITY_INSERT [dbo].[GATreeTestDataRun] ON 

INSERT [dbo].[GATreeTestDataRun] ([Test_data_run_id], [TestDataRun_guid], [TestDataRun_dateStart], [TestDataRun_dateEnd], [TestData_id], [TestDataRun_cycleStage], [TestDataRun_comments], [TestDataRun_results], [TestDataRun_runStage], [TestData_id1], [TestDataRun_CurrentIterationNumber], [TestDataRun_MaxIterationNumber]) VALUES (1, N'c1262305-c67d-4e49-bd01-974c426026e5', CAST(N'2022-11-21T13:45:42.2468122' AS DateTime2), CAST(N'2022-11-21T13:45:42.2468115' AS DateTime2), 0, 1, NULL, NULL, 1, 1, -1, -1)
SET IDENTITY_INSERT [dbo].[GATreeTestDataRun] OFF
GO
SET IDENTITY_INSERT [dbo].[GATreeTestsData] ON 

INSERT [dbo].[GATreeTestsData] ([TestData_id], [TestData_friendlyName], [TestData_notes], [TestData_guid], [TestData_params], [TestData_data_id], [TestData_correctionfactor], [TestData_crossoverPropability], [TestData_generationGap], [TestData_mutationPropability], [TestData_numberOfMaxGenerations], [TestData_numberOfMaxTrees], [Data_id]) VALUES (1, N'TestDataUrl', NULL, N'6e2f1996-bac3-4ab7-8cf9-1b817253e4e6', N'hidden', 1, 10, 2, 10, 2, 100, 200, NULL)
SET IDENTITY_INSERT [dbo].[GATreeTestsData] OFF
GO
/****** Object:  Index [IX_GATRecordOfTrees_Test_data_run_id]    Script Date: 30/11/2022 1:16:42 μμ ******/
CREATE NONCLUSTERED INDEX [IX_GATRecordOfTrees_Test_data_run_id] ON [dbo].[GATRecordOfTrees]
(
	[Test_data_run_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GATRecordOfTrees_ThinClient_id]    Script Date: 30/11/2022 1:16:42 μμ ******/
CREATE NONCLUSTERED INDEX [IX_GATRecordOfTrees_ThinClient_id] ON [dbo].[GATRecordOfTrees]
(
	[ThinClient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GATreeDataAttributes_data_DataAttributes_data_ID]    Script Date: 30/11/2022 1:16:42 μμ ******/
CREATE NONCLUSTERED INDEX [IX_GATreeDataAttributes_data_DataAttributes_data_ID] ON [dbo].[GATreeDataAttributes]
(
	[data_DataAttributes_data_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GATreeTestDataRun_TestData_id1]    Script Date: 30/11/2022 1:16:42 μμ ******/
CREATE NONCLUSTERED INDEX [IX_GATreeTestDataRun_TestData_id1] ON [dbo].[GATreeTestDataRun]
(
	[TestData_id1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GATreeTestDataRunLog_Test_data_run_id]    Script Date: 30/11/2022 1:16:42 μμ ******/
CREATE NONCLUSTERED INDEX [IX_GATreeTestDataRunLog_Test_data_run_id] ON [dbo].[GATreeTestDataRunLog]
(
	[Test_data_run_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GATreeTestsData_Data_id]    Script Date: 30/11/2022 1:16:42 μμ ******/
CREATE NONCLUSTERED INDEX [IX_GATreeTestsData_Data_id] ON [dbo].[GATreeTestsData]
(
	[Data_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GATreeThinClient_testdatarunTest_data_run_id]    Script Date: 30/11/2022 1:16:42 μμ ******/
CREATE NONCLUSTERED INDEX [IX_GATreeThinClient_testdatarunTest_data_run_id] ON [dbo].[GATreeThinClient]
(
	[testdatarunTest_data_run_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GATRecordOfTrees] ADD  DEFAULT ((0)) FOR [Test_data_run_id]
GO
ALTER TABLE [dbo].[GATRecordOfTrees] ADD  DEFAULT ((0)) FOR [ThinClient_id]
GO
ALTER TABLE [dbo].[GATRecordOfTrees] ADD  DEFAULT ((0)) FOR [RecordOfTrees_cycleStage]
GO
ALTER TABLE [dbo].[GATRecordOfTrees] ADD  DEFAULT ((0)) FOR [RecordOfTrees_iterationNo]
GO
ALTER TABLE [dbo].[GATRecordOfTrees] ADD  DEFAULT ((0)) FOR [RecordOfTrees_runStage]
GO
ALTER TABLE [dbo].[GATRecordOfTrees] ADD  DEFAULT (CONVERT([bit],(0))) FOR [RecordOfTrees_isConsolidation]
GO
ALTER TABLE [dbo].[GATreeData] ADD  DEFAULT (N'') FOR [Data_guid]
GO
ALTER TABLE [dbo].[GATreeData] ADD  DEFAULT (N'') FOR [Data_friendlyname]
GO
ALTER TABLE [dbo].[GATreeData] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [Data_date]
GO
ALTER TABLE [dbo].[GATreeDataAttributes] ADD  DEFAULT (N'') FOR [DataAttributes_guid]
GO
ALTER TABLE [dbo].[GATreeDataAttributes] ADD  DEFAULT ((0)) FOR [data_DataAttributes_intMax]
GO
ALTER TABLE [dbo].[GATreeDataAttributes] ADD  DEFAULT (CONVERT([real],(0))) FOR [data_DataAttributes_floatMax]
GO
ALTER TABLE [dbo].[GATreeDataAttributes] ADD  DEFAULT (CONVERT([real],(0))) FOR [data_DataAttributes_floatMin]
GO
ALTER TABLE [dbo].[GATreeDataAttributes] ADD  DEFAULT ((0)) FOR [data_DataAttributes_intMin]
GO
ALTER TABLE [dbo].[GATreeDataAttributes] ADD  DEFAULT (CONVERT([bit],(0))) FOR [DataAttributes_hasNullValues]
GO
ALTER TABLE [dbo].[GATreeTestDataRun] ADD  DEFAULT ((0)) FOR [TestData_id]
GO
ALTER TABLE [dbo].[GATreeTestDataRun] ADD  DEFAULT ((0)) FOR [TestDataRun_cycleStage]
GO
ALTER TABLE [dbo].[GATreeTestDataRun] ADD  DEFAULT ((0)) FOR [TestDataRun_runStage]
GO
ALTER TABLE [dbo].[GATreeTestDataRun] ADD  DEFAULT ((0)) FOR [TestDataRun_CurrentIterationNumber]
GO
ALTER TABLE [dbo].[GATreeTestDataRun] ADD  DEFAULT ((0)) FOR [TestDataRun_MaxIterationNumber]
GO
ALTER TABLE [dbo].[GATreeTestDataRunLog] ADD  DEFAULT ((0)) FOR [Test_data_run_id]
GO
ALTER TABLE [dbo].[GATreeTestsData] ADD  DEFAULT (N'') FOR [TestData_friendlyName]
GO
ALTER TABLE [dbo].[GATreeTestsData] ADD  DEFAULT (N'') FOR [TestData_guid]
GO
ALTER TABLE [dbo].[GATreeTestsData] ADD  DEFAULT (CONVERT([real],(0))) FOR [TestData_correctionfactor]
GO
ALTER TABLE [dbo].[GATreeTestsData] ADD  DEFAULT (CONVERT([real],(0))) FOR [TestData_crossoverPropability]
GO
ALTER TABLE [dbo].[GATreeTestsData] ADD  DEFAULT ((0)) FOR [TestData_generationGap]
GO
ALTER TABLE [dbo].[GATreeTestsData] ADD  DEFAULT (CONVERT([real],(0))) FOR [TestData_mutationPropability]
GO
ALTER TABLE [dbo].[GATreeTestsData] ADD  DEFAULT ((0)) FOR [TestData_numberOfMaxGenerations]
GO
ALTER TABLE [dbo].[GATreeTestsData] ADD  DEFAULT ((0)) FOR [TestData_numberOfMaxTrees]
GO
ALTER TABLE [dbo].[GATreeThinClient] ADD  DEFAULT (CONVERT([bit],(0))) FOR [ThinClient_isRunActive]
GO
ALTER TABLE [dbo].[GATreeThinClient] ADD  DEFAULT (CONVERT([bit],(0))) FOR [thinClient_isActive]
GO
ALTER TABLE [dbo].[GATRecordOfTrees]  WITH CHECK ADD  CONSTRAINT [FK_GATRecordOfTrees_GATreeTestDataRun_Test_data_run_id] FOREIGN KEY([Test_data_run_id])
REFERENCES [dbo].[GATreeTestDataRun] ([Test_data_run_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GATRecordOfTrees] CHECK CONSTRAINT [FK_GATRecordOfTrees_GATreeTestDataRun_Test_data_run_id]
GO
ALTER TABLE [dbo].[GATRecordOfTrees]  WITH CHECK ADD  CONSTRAINT [FK_GATRecordOfTrees_GATreeThinClient_ThinClient_id] FOREIGN KEY([ThinClient_id])
REFERENCES [dbo].[GATreeThinClient] ([ThinClient_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GATRecordOfTrees] CHECK CONSTRAINT [FK_GATRecordOfTrees_GATreeThinClient_ThinClient_id]
GO
ALTER TABLE [dbo].[GATreeDataAttributes]  WITH CHECK ADD  CONSTRAINT [FK_GATreeDataAttributes_GATreeData_data_DataAttributes_data_ID] FOREIGN KEY([data_DataAttributes_data_ID])
REFERENCES [dbo].[GATreeData] ([Data_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GATreeDataAttributes] CHECK CONSTRAINT [FK_GATreeDataAttributes_GATreeData_data_DataAttributes_data_ID]
GO
ALTER TABLE [dbo].[GATreeTestDataRun]  WITH CHECK ADD  CONSTRAINT [FK_GATreeTestDataRun_GATreeTestsData_TestData_id1] FOREIGN KEY([TestData_id1])
REFERENCES [dbo].[GATreeTestsData] ([TestData_id])
GO
ALTER TABLE [dbo].[GATreeTestDataRun] CHECK CONSTRAINT [FK_GATreeTestDataRun_GATreeTestsData_TestData_id1]
GO
ALTER TABLE [dbo].[GATreeTestDataRunLog]  WITH CHECK ADD  CONSTRAINT [FK_GATreeTestDataRunLog_GATreeTestDataRun_Test_data_run_id] FOREIGN KEY([Test_data_run_id])
REFERENCES [dbo].[GATreeTestDataRun] ([Test_data_run_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GATreeTestDataRunLog] CHECK CONSTRAINT [FK_GATreeTestDataRunLog_GATreeTestDataRun_Test_data_run_id]
GO
ALTER TABLE [dbo].[GATreeTestsData]  WITH CHECK ADD  CONSTRAINT [FK_GATreeTestsData_GATreeData_Data_id] FOREIGN KEY([Data_id])
REFERENCES [dbo].[GATreeData] ([Data_id])
GO
ALTER TABLE [dbo].[GATreeTestsData] CHECK CONSTRAINT [FK_GATreeTestsData_GATreeData_Data_id]
GO
ALTER TABLE [dbo].[GATreeThinClient]  WITH CHECK ADD  CONSTRAINT [FK_GATreeThinClient_GATreeTestDataRun_testdatarunTest_data_run_id] FOREIGN KEY([testdatarunTest_data_run_id])
REFERENCES [dbo].[GATreeTestDataRun] ([Test_data_run_id])
GO
ALTER TABLE [dbo].[GATreeThinClient] CHECK CONSTRAINT [FK_GATreeThinClient_GATreeTestDataRun_testdatarunTest_data_run_id]
GO
USE [master]
GO
