@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>GA Tree Web store made by Chistos Kilitzirakis.</h2>
    <br/>
    <h3>@ViewBag.errorMessage</h3>

</div>
